.fa-stack.wd-fa-stack-no-pad {
    line-height: 1em;
    width: 16px;
}

#back-link {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 13px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


#search-bar {
    float: left;
    width: 90%;
}

.input-group-text.wd-search-bar-icon {
    border-color: rgb(47, 51, 54);
    border-radius: 50px;
    border-right: 0;
}

.form-control.wd-search-bar-input {
    border-color: rgb(47, 51, 54);
    border-radius: 50px;
    border-left: 0;
}

#search-bar-input::placeholder {
    color: rgb(47, 51, 54);
}

.wd-explore-settings {
    float: right;
    width: 10%;
    min-width: fit-content;
}

#settings-link {
    float: right;
    color: rgb(29, 161, 242);
}

#tab-row {
    padding-left: 16px;
    display: inline-block;
    width: 100%;
}

.nav-link.wd-nav-link-custom-color {
    color: rgb(29, 161, 242);
}

.nav-link.active.wd-nav-link-custom-color-active {
    color: rgb(47, 51, 54);
}

.wd-suggested-post-trending-border-top {
    border-top: 1px solid rgba(0, 0, 0, .125);
}

.wd-fs-13px {
    font-size: 13px;
}

.wd-fs-15px {
    font-size: 15px;
}

.wd-suggested-post-text-section {
    float: left;
    width: 80%;
    min-width: 200px;
    max-width: 600px;
}

.wd-suggested-post-picture-section {
    width: 20%;
    max-width: 100px;
    min-width: 50px;
}

.wd-suggested-post-picture {
    float: right;
    max-width: 100px;
    max-height: 100px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 10px;
}
